<!DOCTYPE html>
<html layout:decorator="layout/adminlayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{navbar.sites}">Sites</title>
</head>
<body>
<th:block layout:fragment="body">
    <table class="table table-striped" id="sites-table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>User</th>
            <th>Created</th>
            <th>Updated</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</th:block>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {
            loadSites();

        });

        function processData(data) {
            let result = [];
            data.forEach(function (element, counter) {
                let resultElement = {};
                resultElement.id = counter + 1;
                resultElement.name = '<a href="/sites/' + element.id + '">' + element.name + '</a>';
                resultElement.user = '<a href="/admin/user/' + element.user.username + '">' + element.user.username + '</a>';
                resultElement.created = moment(element.creationDate).format("D MM YYYY");
                resultElement.updated = moment(element.updateDate).format("D MM YYYY");
                result.push(resultElement);
            });
            return result;
        }
        function loadSites() {
            $.get('/api/sites.json', {}, function (response, status) {
                let data = processData(response);
                $('#sites-table').dynatable({
                    dataset: {
                        records: data,
                        perPageDefault: 10,
                        perPageOptions: [5, 10, 20, 50, 100]
                    },
                    params: {
                        records: ''
                    }
                });
                $('#dynatable-query-search-sites-table').addClass('form-control').attr('placeholder', 'Search');
                $('#dynatable-search-sites-table')
                        .contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();
                $('.dynatable-per-page-select').addClass('form-control');
                $('.dynatable-per-page-label').remove();
            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>