<!DOCTYPE html>
<html layout:decorator="layout/adminlayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.users}">Users</title>
</head>
<body>
<th:block layout:fragment="body">
    <table class="table table-striped" id="sites-table">
        <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Registered</th>
            <th>Tools</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</th:block>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {
            loadSites();

            $(document).on('click', '.btn-danger', function () {
                $('#delete-modal')
                        .attr('data-user', $(this).data('user'))
                        .data('user', $(this).data('user'))
                        .modal('show');
            });

            $('#delete-button').on('click', function () {
                $.post('/admin/delete', {
                     username: $('#delete-modal').data('user'),
                     [[${_csrf.parameterName}]]: [[${_csrf.token}]]
                 }, function (response, status) {
                    window.location.href = '/admin/users';
                 });
            });

            $(document).on('click', '.btn-warning', function () {
                $.post('/admin/ban', {
                    username: $(this).data('user'),
                    [[${_csrf.parameterName}]]: [[${_csrf.token}]]
                }, function (response, status) {
                    window.location.href = '/admin/users';
                });
            });

            $(document).on('click', '.btn-success', function () {
                $.post('/admin/unban', {
                    username: $(this).data('user'),
                    [[${_csrf.parameterName}]]: [[${_csrf.token}]]
                }, function (response, status) {
                    window.location.href = '/admin/users';
                });
            });

        });

        function processData(data) {
            let result = [];
            data.forEach(function (element, counter) {
                let resultElement = {};
                let username = element.admin
                        ? '<span class="fa fa-user" aria-hidden="true"></span>  <strong>' + element.username + '</strong>'
                        : element.username;
                resultElement.id = counter + 1;
                resultElement.username = '<a href="/admin/user/' + element.username + '">' + username + '</a>';
                resultElement.name = element.firstname + ' ' + element.lastname;
                resultElement.email = element.email;
                resultElement.active = element.active
                        ? '<span class="fa fa-check" aria-hidden="true"></span>'
                        : '<span class="fa fa-remove" aria-hidden="true"></span>';
                resultElement.registered = moment(element.registered).format("D.MM.YYYY");
                resultElement.tools = element.username !== [[${#authentication.getName()}]]
                        ? (element.active
                        ? createButton([[#{general.block}]], 'lock', 'warning', element.username)
                        : createButton([[#{general.unblock}]], 'unlock', 'success', element.username)) +
                        createButton([[#{general.delete}]], 'remove', 'danger', element.username)
                        : '';
                result.push(resultElement);
            });
            return result;
        }

        function loadSites() {
            $.get('/api/users.json', {}, function (response, status) {
                let data = processData(response);
                $('#sites-table').dynatable({
                    dataset: {
                        records: data,
                        perPageDefault: 10,
                        perPageOptions: [5, 10, 20, 50, 100]
                    }
                });
                $('#dynatable-query-search-sites-table').addClass('form-control').attr('placeholder', 'Search');
                $('#dynatable-search-sites-table')
                        .contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();
                $('.dynatable-per-page-select').addClass('form-control');
                $('.dynatable-per-page-label').remove();
            });
        }

        function createButton(title, icon, style, user) {
            return '<a href="#" data-user="' + user + '" title="' + title + '" class="btn btn-' + style + ' btn-sm">' +
                    '<span class="fa fa-' + icon + '" aria-hidden="true"></span>' +
                    '</a>'
        }

        //        ]]>
    </script>
    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete user</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">Are you sure you want to remove this user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="delete-button">Yes</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>