<!DOCTYPE html>
<html layout:decorator="layout/adminlayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<th:block layout:fragment="body">
    <table class="table table-striped" id="sites-table">
        <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Registered</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</th:block>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {
            loadSites();

        });

        function processData(data) {
            let result = [];
            data.forEach(function (element, counter) {
                let resultElement = {};
                resultElement.id = counter + 1;
                resultElement.username = element.username;
                resultElement.name = element.firstname + ' ' + element.lastname;
                resultElement.email = element.email;
                resultElement.active = element.active;
                resultElement.registered = moment(element.registered).format("D.MM.YYYY");
                result.push(resultElement);
            });
            return result;
        }
        function loadSites() {
            $.get('/api/users.json', {}, function (response, status) {
                let data = processData(response);
                $('#sites-table').dynatable({
                    dataset: {
                        records: data,
                        perPageDefault: 10,
                        perPageOptions: [5, 10, 20, 50, 100]
                    }
                });
                $('#dynatable-query-search-sites-table').addClass('form-control').attr('placeholder', 'Search');
                $('#dynatable-search-sites-table')
                        .contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();
                $('.dynatable-per-page-select').addClass('form-control');
                $('.dynatable-per-page-label').remove();
            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>