<!DOCTYPE HTML>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{navbar.search}"></title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/jquery.dynatable.css" th:href="@{/css/jquery.dynatable.css}"/>
        <style>
            .date {
                font-size: 11px;
                color: #737373;
            }
            ol {
                margin-bottom: 50px;
            }
            ol li {
                padding-top: 20px;
                text-align: justify;
            }
        </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 th:text="#{navbar.search}">Search</h1>
            <form action="/search">
                <div class="form-group">
                    <input type="search" name="request" class="form-control" th:value="${param.request != null ? param.request[0] : ''}"/>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ol>
                <li th:each="page : ${results}">
                    <a th:href="@{/site/{user}/{site}/{page}(user=${page.site.user.username},site=${page.site.name},page=${page.id})}">
                        <h4 th:text="${page.name}">Google</h4>
                    </a>
                    <div class="date">
                        <time datetime="2014-01-20">20 August 2016</time> -
                        <a th:href="@{/user/{user}(user=${page.site.user.username})}" th:text="${page.site.user.username}">username</a>
                    </div>
                    <span th:text="${page.site.description}"></span>
                </li>
            </ol>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="js/jquery.dynatable.js" th:src="@{/js/jquery.dynatable.js}"></script>
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {

            var resultList = $('ol');

            if(resultList.find('li').length === 0) {
                return;
            }

            resultList.dynatable({
                table: {
                    bodyRowSelector: 'li'
                },
                dataset: {
                    perPageDefault: 10
                },
                writers: {
                    _rowWriter: ulWriter
                },
                readers: {
                    _rowReader: ulReader
                },
                params: {
                    records: 'results'
                }
            });

            $('.dynatable-search').remove();
            $('.dynatable-per-page').remove();

        });

        function ulWriter(rowIndex, record, columns, cellWriter) {
//            let date = moment(record.date).format("D MMMM YYYY");
            let li = '<li>' +
                    '<a href="' + record.pageUrl + '">' +
                    '<h4>' + record.name + '</h4>' +
                    '</a>' +
                    '<div class="date">' +
                    '<time datetime="2014-01-20">' + '' + '</time> - <a href="' + record.userUrl + '">' + record.username + '</a>' +
                    '</div>' +
                    '<span>' + record.description + '</span>' +
                    '</li>';
            return li;
        }

        function ulReader(index, li, record) {
            let _li = $(li);
            record.name = _li.find('h4').text();
            record.username = _li.find('.date a').text();
            record.description = _li.find('span').text();
            record.pageUrl = _li.find('a:first').attr('href');
            record.userUrl = _li.find('a:last').attr('href');
        }

        //        ]]>
    </script>

</th:block>
</body>
</html>