<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<th:block th:fragment="alert">
    <div class="alert alert-danger alert-dismissible my-notification" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Title</strong>
        <p>Notification text.</p>
    </div>
</th:block>

<th:block th:fragment="video-modal">
    <!-- Modal -->
    <div class="modal fade" id="modal-video" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{constructor.form.video.title}">Video settings</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="video-url">YouTube URL</label>
                            <input type="text" class="form-control" id="video-url" placeholder="YouTube URL"/>
                        </div>
                        <div class="form-group">
                            <label for="video-width" th:text="#{constructor.form.width}">Width</label>
                            <input type="number" class="form-control" id="video-width" value="560"/>
                        </div>
                        <div class="form-group">
                            <label for="video-height" th:text="#{constructor.form.height}">Height</label>
                            <input type="number" class="form-control" id="video-height" value="315"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="video-auto"/> <th:block th:text="#{constructor.form.video.autoplay}">Auto play</th:block>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="video-loop"/> <th:block th:text="#{constructor.form.video.loop}">Loop</th:block>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.cancel}">Close</button>
                    <button type="button" class="btn btn-primary" th:text="#{general.save}">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="image-modal">
    <!-- Modal -->
    <div class="modal fade" id="modal-photo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{constructor.form.image.title}">Image settings</h4>
                </div>
                <div class="modal-body">
                    <div id="upload-area" class="dropzone">

                    </div>
                    <form>
                        <div class="form-group">
                            <label for="video-url" th:text="#{constructor.form.image.url}">Image URL</label>
                            <input type="text" class="form-control" id="photo-url" placeholder="Image URL"/>
                            <span class="help-block hidden" th:text="#{constructor.form.image.badUrl}">Invalid URL.</span>
                        </div>
                        <div class="form-group">
                            <label for="photo-width" th:text="#{constructor.form.width}">Width</label>
                            <input type="number" class="form-control" id="photo-width" value="560"/>
                        </div>
                        <div class="form-group">
                            <label for="photo-height" th:text="#{constructor.form.height}">Height</label>
                            <input type="number" class="form-control" id="photo-height" value="315"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.cancel}">Close</button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate load-off"></span>   <th:block th:text="#{general.save}">Save</th:block>
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="text-modal">
    <div class="modal fade bs-example-modal-lg" id="modal-text" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{constructor.form.text.title}">Text editor</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <textarea id="text-area">

                        </textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.cancel}">Close</button>
                    <button type="button" class="btn btn-primary" th:text="#{general.save}">
                        <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="table-modal">
    <div class="modal fade bs-example-modal-lg" id="modal-table" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{constructor.form.table.title}">Text editor</h4>
                </div>
                <div class="modal-body">
                    <table class="table" id="chart-table">
                        <thead>
                        <tr>
                            <th th:text="#{constructor.form.table.name}">Name</th>
                            <th th:text="#{constructor.form.table.value}">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Item</td>
                            <td>5</td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <button type="button" id="add-row" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"/></button>
                        <button type="button" id="delete-row" class="btn btn-danger"><span class="glyphicon glyphicon-minus" aria-hidden="true"/></button>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="show-chart"/> <th:block th:text="#{constructor.form.table.chart}">Create chart</th:block>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.cancel}">Close</button>
                    <button type="button" class="btn btn-primary" th:text="#{general.save}">
                        <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
