<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{constructor.title}">Constructor</title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/dropzone.css" th:href="@{/css/dropzone.css}"/>
        <link rel="stylesheet" href="css/custom/constructor.css" th:href="@{/css/custom/constructor.css}"/>

    </th:block>
</head>
<body>
<div layout:fragment="nowrap-content">
    <th:block th:replace="constructor/elements :: alert"/>

    <div class="my-toolbar flex-container">
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-text">
            <span class="glyphicon glyphicon-font" aria-hidden="true"></span> Text
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-image">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Image
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-video">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Video
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-table">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Table
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-comment">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-rating">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Rating
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-default my-layout-set" id="layout-1">
            <img src="/images/layout1.png"/>
        </button>
        <button type="button" class="btn btn-default my-layout-set" id="layout-2">
            <img src="/images/layout2.png"/>
        </button>
        <button type="button" class="btn btn-default my-layout-set" id="layout-3">
            <img src="/images/layout3.png"/>
        </button>
        <button type="button" class="btn btn-default my-layout-set" id="layout-4">
            <img src="/images/layout4.png"/>
        </button>
    </div>

    <input type="text" id="page-title" th:value="${page.name}"/>
    <button type="button" class="btn btn-default" id="save-page">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
    </button>

    <div class="row my-container">

    </div>

</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <script type="text/javascript" src="js/tinymce/tinymce.min.js" th:src="@{/js/tinymce/tinymce.min.js}"></script>
    <script type="text/javascript" src="js/custom/renderer.js" th:src="@{/js/custom/renderer.js}"></script>
    <script type="text/javascript" src="js/custom/constructor.js" th:src="@{/js/custom/constructor.js}"></script>

    <script th:inline="javascript">
        //        <![CDATA[
        $(document).ready(function () {

            currentLayout = [[${page.layoutId}]];

            recreateLayout($('.my-container'), currentLayout);

            var elements = [[${page.elements}]];
            elements.forEach(function (element) {
                loadForEdit(element);
            });

            $('#save-page').on('click', function () {
                let elements = [];
                $('.my-element').each(function () {
                    elements.push(saveElement($(this)));
                });

                $.postJSON('/pages/[[${page.id}]]', {
                    elements: elements,
                    name: $('#page-title').val(),
                    layout: currentLayout
                }, function (response, status) {
                    window.location.href = '/sites/[[${page.site.id}]]';
                }, [[${_csrf.token}]]);

            });

        });
        //        ]]>
    </script>
    <th:block th:replace="constructor/elements :: video-modal"/>
    <th:block th:replace="constructor/elements :: image-modal"/>
    <th:block th:replace="constructor/elements :: text-modal"/>
</th:block>
</body>
</html>