<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{constructor.title}">Constructor</title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/dropzone.css" th:href="@{/css/dropzone.css}"/>
        <link rel="stylesheet" href="css/custom/constructor.css" th:href="@{/css/custom/constructor.css}"/>
    </th:block>
</head>
<body>
<div layout:fragment="nowrap-content">
    <th:block th:replace="constructor/elements :: alert"/>
    <div class="container">
        <div class="col-md-8">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="..." id="my-toolbar">
                    <button type="button" class="my-tool btn btn-default" id="tool-text">
                        <span class="glyphicon glyphicon-font" aria-hidden="true"></span> Text
                    </button>
                    <button type="button" class="my-tool btn btn-default" id="tool-image">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Image
                    </button>
                    <button type="button" class="my-tool btn btn-default" id="tool-video">
                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Video
                    </button>
                    <button type="button" class="my-tool btn btn-default" id="tool-table">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Table
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default my-layout-set" id="layout-1">
                        <img src="/images/layout1.png" width="15" height="15"/>
                    </button>
                    <button type="button" class="btn btn-default my-layout-set" id="layout-2">
                        <img src="/images/layout2.png" width="15" height="15"/>
                    </button>
                    <button type="button" class="btn btn-default my-layout-set" id="layout-3">
                        <img src="/images/layout3.png" width="15" height="15"/>
                    </button>
                    <button type="button" class="btn btn-default my-layout-set" id="layout-4">
                        <img src="/images/layout4.png" width="15" height="15"/>
                    </button>
                </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="form-inline pull-right">
                <input type="text" class="form-control" id="page-title" th:value="${page.name}"/>
                <button type="button" class="btn btn-primary" id="save-page">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                </button>
            </div>
        </div>
    </div>

    <div class="row my-container">

    </div>

</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <script type="text/javascript" src="js/tinymce/tinymce.min.js" th:src="@{/js/tinymce/tinymce.min.js}"></script>
    <script type="text/javascript" src="js/custom/renderer.js" th:src="@{/js/custom/renderer.js}"></script>
    <script type="text/javascript" src="js/custom/constructor.js" th:src="@{/js/custom/constructor.js}"></script>

    <script th:inline="javascript">
        //        <![CDATA[
        $(document).ready(function () {

            currentLayout = [[${page.layoutId}]];

            recreateLayout($('.my-container'), currentLayout);

            var elements = [[${page.elements}]];
            elements.forEach(function (element) {
                loadForEdit(element);
            });

            $('#save-page').on('click', function () {
                let elements = [];
                $('.my-element').each(function () {
                    elements.push(saveElement($(this)));
                });

                $.postJSON('/pages/[[${page.id}]]', {
                    elements: elements,
                    name: $('#page-title').val(),
                    layout: currentLayout
                }, function (response, status) {
                    window.location.href = '/sites/[[${page.site.id}]]';
                }, [[${_csrf.token}]]);

            });

            initWYSIWYG([[${#locale.language}]]);

        });
        //        ]]>
    </script>
    <th:block th:replace="constructor/elements :: video-modal"/>
    <th:block th:replace="constructor/elements :: image-modal"/>
    <th:block th:replace="constructor/elements :: text-modal"/>
</th:block>
</body>
</html>