<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{navbar.sites}"></title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/star-rating.min.css" th:href="@{/css/star-rating.min.css}"/>
        <link rel="stylesheet" href="css/jquery.dynatable.css" th:href="@{/css/jquery.dynatable.css}"/>
        <link rel="stylesheet" href="css/custom/thumbnails.css" th:href="@{/css/custom/thumbnails.css}"/>
        <style>
           .content {
               height: 220px;
               text-align: justify;
           }
            .post {
                padding-top: 10px;
            }
            #site-list {
                margin-top: 60px;
            }
            .col-md-4 {
                margin-bottom: 20px;
            }
       </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <!--<h2 th:text="#{navbar.sites}">My sites</h2>-->
    <button type="button" class="btn btn-success center-block" onclick="create()" th:text="#{sites.add}" style="margin-top: 50px">Add site</button>
    <div class="row" id="site-list">
        <div class="panel panel-info site-thumb">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <th:block th:text="#{sites.noSites}">No sites</th:block>
                </h3>
            </div>
            <div class="panel-body" th:text="#{sites.noSitesMessage}">
                You haven't create any sites yet.
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="js/kartik/star-rating.min.js" th:src="@{/js/kartik/star-rating.min.js}"></script>
    <script type="text/javascript" src="js/jquery.dynatable.js" th:src="@{/js/jquery.dynatable.js}"></script>
    <script type="text/javascript" src="js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" src="js/custom/tables.js" th:src="@{/js/custom/tables.js}"></script>

    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {

            initTables($('#site-list'), [[${#authentication.getName()}]], [[${#locale.language}]], false, [[#{navbar.search}]]);

        });

        function create() {
            $.post('/sites/create', {
                [[${_csrf.parameterName}]]: [[${_csrf.token}]]
            }, function (response, status) {
                window.location.href = '/sites/' + response;
            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>