<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{navbar.sites}"></title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="css/star-rating.min.css" th:href="@{/css/star-rating.min.css}"/>
        <link rel="stylesheet" href="css/custom/thumbnails.css" th:href="@{/css/custom/thumbnails.css}"/>
        <style>
           .col-md-4 {
               margin-top: 50px;
           }
           .content {
               height: 220px;
               text-align: justify;
           }
            .post {
                padding-top: 10px;
            }
       </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <h2>My sites</h2>
    <button type="button" class="btn btn-success center-block" onclick="create()">Add site</button>
    <div class="row">
        <div th:each="site : ${sites}" class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <a th:href="@{/sites/{site}(site=${site.id})}">
                        <img th:src="@{http://res.cloudinary.com/itraphotocloud/image/upload/c_pad,w_460,h_250/{logo}.png(logo=${site.logo})}"
                             class="img-responsive" />
                        <span class="post-title"><b th:text="${site.name}">Make a Image Blur Effects With</b><br />
                            <!--<b>CSS3 Blur</b>--></span>
                    </a>
                </div>
                <div class="content">
                    <div class="author">
                        By <b th:text="${site.user.username}">Author</b> |
                        <time datetime="2014-01-20" th:text="${#dates.format(site.creationDate, 'dd MMM yyyy')}">January 20th, 2014</time>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <input name="rating" th:value="${rates[site.id]}" value="3.5" class="rating-loading"/>
                            </td>
                            <td style="padding-left: 20px">
                                <em th:text="${#lists.size(site.rates)} + ' votes'">0</em>
                            </td>
                        </tr>
                    </table>
                    <div th:text="${site.description}" style="overflow: hidden; height: 130px;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="js/kartik/star-rating.min.js" th:src="@{/js/kartik/star-rating.min.js}"></script>
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {

            $('.rating-loading').rating({
                step: 0.5,
                displayOnly: true,
                size: 'xs'
            });

        });


        function create() {
            $.post('/sites/create', {
                [[${_csrf.parameterName}]]: [[${_csrf.token}]]
            }, function (response, status) {
                window.location.href = '/sites/' + response;
            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>