<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <th:block layout:fragment="styles">
        <style>
            .add-page {
                text-align: center;
                margin-top: 30px;
            }
            .panel-body {
                position: relative;
            }
            .toolbar {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                display: none;
            }
            .panel-body:hover .toolbar {
                display: block;
            }
        </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <h3>Settings</h3>
            <form th:action="@{/sites/{id}/(id=${site.id})}" method="post">
                <div class="form-group">
                    <label for="name">Site name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Site name" th:value="${site.name}"/>
                </div>
                <div class="form-group">
                    <label>Design theme</label>
                    <br/>
                    <label class="radio-inline"><input type="radio" name="theme" value="light" checked="checked"/>Light</label>
                    <label class="radio-inline"><input type="radio" name="theme" value="dark"/>Dark</label>
                </div>
                <div class="form-group">
                    <label>Navigation menu</label>
                    <br/>
                    <label class="checkbox-inline"><input type="checkbox" name="horizontal"/>Horizontal</label>
                    <label class="checkbox-inline"><input type="checkbox" name="vertical"/>Vertical</label>
                </div>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Pages</h3>
            <div class="panel panel-warning" th:if="${#lists.isEmpty(site.pages)}">
                <div class="panel-heading">
                    <h3 class="panel-title">No pages</h3>
                </div>
                <div class="panel-body">
                    You haven't got any pages. Create page and fill them with content.
                </div>
            </div>
            <div class="add-page">
                <button type="button" class="btn btn-default" onclick="create()">Add page</button>
            </div>
            <div style="margin-top: 50px">
                <div th:each="page : ${site.pages}" class="panel panel-default">
                    <div class="panel-body" >
                        <div class="toolbar">
                            <a th:href="@{/site/{user}/{site}/{page}(user=${site.user.username},site=${site.name},page=${page.id})}"
                               class="btn btn-info btn-xs" rel="tooltip" title="View">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <button class="btn btn-danger btn-xs" rel="tooltip" title="Remove" th:onclick="'removePage(' + ${page.id} + ');'">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                        <a th:href="@{/pages/{id}(id=${page.id})}" th:text="${page.name}">Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {

        });

        function create() {
            $.post('/pages/create', {
                site: [[${site.id}]],
                [[${_csrf.parameterName}]]: [[${_csrf.token}]]
            }, function (response, status) {
                window.location.href = '/pages/' + response;
            });
        }

        function removePage(id) {
            $.ajax({
                url: '/pages/' + id + '?' + [[${_csrf.parameterName}]] + '=' + [[${_csrf.token}]],
                type: 'DELETE',
                success: function(result) {
                    window.location.href = '/sites/[[${site.id}]]';
                }
            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>

