<!DOCTYPE html>
<html layout:decorator="layout/barelayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>

    <th:block layout:fragment="bare-styles">
        <link rel="stylesheet" href="css/star-rating.min.css" th:href="@{/css/star-rating.min.css}"/>
        <link rel="stylesheet" href="css/custom/view.css" th:href="@{/css/custom/view.css}"/>
        <style>
            .my-element {
                text-align: center;
            }
            .my-text-content {
                text-align: initial;
            }
            .row {
                margin-bottom: 35px;
            }
            .row:first-of-type {
                margin-top: 50px;
            }
        </style>
    </th:block>
</head>
<body>
<div layout:fragment="navigation">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#" th:title="${page.site.name}" style="padding-top: 10px"
                   th:href="@{~/site/{user}/{site}(user=${page.site.user.username},site=${page.site.name})}">
                    <img th:if="${page.site.logo}" th:src="@{http://res.cloudinary.com/itraphotocloud/image/upload/c_scale,h_32,w_32/{logo}.png(logo=${page.site.logo})}"/>
                </a>
                <a class="navbar-brand" th:href="@{~/site/{user}/{site}(user=${page.site.user.username},site=${page.site.name})}" th:text="${page.site.name}">Site name</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li th:each="pageNav : ${page.site.pages}" th:unless="${pageNavStat.index} &gt; 7">
                        <a th:href="@{~/site/{user}/{site}/{page}(user=${pageNav.site.user.username},site=${pageNav.site.name},page=${pageNav.id})}"
                           th:text="${pageNav.name}">Page</a>
                    </li>
                    <li class="dropdown" th:if="${#lists.size(page.site.pages) &gt; 7}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More... <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li th:each="pageNav : ${page.site.pages}" th:if="${pageNavStat.index} &gt; 7">
                                <a th:href="@{~/site/{user}/{site}/{page}(user=${pageNav.site.user.username},site=${pageNav.site.name},page=${pageNav.id})}"
                                    th:text="${pageNav.name}">Page</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div th:replace="layout/template :: search"/>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--</nav>-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{~/site/{user}/{site}(user=${page.site.user.username},site=${page.site.name})}" th:text="${page.site.name}">Site name</a>
            </li>
            <li th:each="pageNav : ${page.site.pages}" th:unless="${pageNavStat.index} &gt; 7"> <!-- TODO fix-->
                <a th:href="@{~/site/{user}/{site}/{page}(user=${pageNav.site.user.username},site=${pageNav.site.name},page=${pageNav.id})}"
                   th:text="${pageNav.name}">Page</a>
            </li>
        </ul>
    </div>
</div>
<div layout:fragment="body">
    <div id="main" class="container" style="margin-bottom: 10%">

    </div>
    <div sec:authorize="isAuthenticated()" class="container">
        <label for="site-rating" class="control-label">Rate this site</label>
        <input id="site-rating" name="rating" th:value="${rate}" class="rating-loading"/>
    </div>
</div>
<th:block layout:fragment="bare-scripts">
    <script type="text/javascript" src="js/kartik/star-rating.min.js" th:src="@{/js/kartik/star-rating.min.js}"></script>
    <!--<script type="text/javascript" src="js/kartik/locales/ru.js" th:src="@{/js/kartik/locales/ru.js}"></script>-->
    <script type="text/javascript" src="js/custom/renderer.js" th:src="@{/js/custom/renderer.js}"></script>
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {

            var pageLayout = [[${page.layoutId}]];
            var elements = [[${page.elements}]];

            myRenderer.renderLayout($('#main'), pageLayout);
            elements.forEach(function (element) {
                myRenderer.load(element);
            });

            $('#site-rating').rating({
                step: 0.5,
                starCaptions: {
                    0.5: 'Very Poor',
                    1: 'Very Poor',
                    1.5: 'Poor',
                    2: 'Poor',
                    2.5: 'Ok',
                    3: 'Ok',
                    3.5: 'Good',
                    4: 'Good',
                    4.5: 'Very Good',
                    5: 'Very Good'
                },
                starCaptionClasses: {
                    0.5: 'text-danger',
                    1: 'text-danger',
                    1.5: 'text-warning',
                    2: 'text-warning',
                    2.5: 'text-info',
                    3: 'text-info',
                    3.5: 'text-primary',
                    4: 'text-primary',
                    4.5: 'text-success',
                    5: 'text-success'
                }
            });

            $('#site-rating').on('rating.change', function(event, value, caption) {
                rate(value);
            });

        });

        function rate(value) {
            $.post('/site/rate', {
                site: [[${page.site.id}]],
                rate: value,
                [[${_csrf.parameterName}]]: [[${_csrf.token}]]
            }, function (response, status) {

            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>