<!DOCTYPE html>
<html layout:decorator="layout/barelayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block layout:fragment="bare-styles">
        <link th:if="${page.site.theme == T(by.itransition.webconstructor.domain.DesignTheme).FAIR}"
              rel="stylesheet" href="css/themes/simplex.min.css" th:href="@{/css/themes/simplex.min.css}"/>
        <link th:if="${page.site.theme == T(by.itransition.webconstructor.domain.DesignTheme).DARK}"
              rel="stylesheet" href="css/themes/cosmo.min.css" th:href="@{/css/themes/cosmo.min.css}"/>
        <link th:if="${page.site.theme == T(by.itransition.webconstructor.domain.DesignTheme).RED}"
              rel="stylesheet" href="css/themes/united.min.css" th:href="@{/css/themes/united.min.css}"/>

        <link rel="stylesheet" href="css/star-rating.min.css" th:href="@{/css/star-rating.min.css}"/>
        <!--<link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/jquery-comments.css" th:href="@{/css/jquery-comments.css}"/>
        <link rel="stylesheet" href="css/custom/view.css" th:href="@{/css/custom/view.css}"/>
        <style>
            .theme-fair {
                background: #fff !important;
            }
            .theme-red {
                background: #e95420 !important;
            }

            .my-element {
                text-align: center;
            }
            .my-text-content {
                text-align: initial;
            }
            .row {
                margin-bottom: 35px;
            }
            .row:first-of-type {
                margin-top: 50px;
            }
            .top-space {
                margin-top: 50px;
            }
            th {
                text-align: center !important;
            }
            .my-chart {
                max-height: 555px;
                max-width: 555px;
            }
            .my-table {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        </style>
    </th:block>
    <title th:text="${page.name} + ' - ' + ${page.site.name}"></title>
</head>
<body>
<div layout:fragment="navigation">
    <nav th:if="${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).HORIZONTAL}
    or ${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).BOTH}"
         class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#" th:title="${page.site.name}" style="padding-top: 10px"
                   th:href="@{~/site/{user}/{site}(user=${page.site.user.username},site=${page.site.name})}">
                    <img th:if="${page.site.logo}" th:src="@{http://res.cloudinary.com/itraphotocloud/image/upload/c_scale,h_32,w_32/{logo}.png(logo=${page.site.logo})}"/>
                </a>
                <a class="navbar-brand" th:href="@{~/site/{user}/{site}(user=${page.site.user.username},site=${page.site.name})}" th:text="${page.site.name}">Site name</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li th:each="pageNav : ${#lists.sort(page.site.pages)}" th:unless="${pageNavStat.index + 1} &gt; 7">
                        <a th:href="@{~/site/{user}/{site}/{page}(user=${pageNav.site.user.username},site=${pageNav.site.name},page=${pageNav.id})}"
                           th:text="${pageNav.name}">Page</a>
                    </li>
                    <li class="dropdown" th:if="${#lists.size(page.site.pages) &gt; 7}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{general.showMore}">More... <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li th:each="pageNav : ${#lists.sort(page.site.pages)}" th:if="${pageNavStat.index + 1} &gt; 7">
                                <a th:href="@{~/site/{user}/{site}/{page}(user=${pageNav.site.user.username},site=${pageNav.site.name},page=${pageNav.id})}"
                                    th:text="${pageNav.name}">Page</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div th:replace="layout/template :: search"/>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--</nav>-->
    <div th:if="${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).VERTICAL}
    or ${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).BOTH}"
         id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{~/site/{user}/{site}(user=${page.site.user.username},site=${page.site.name})}" th:text="${page.site.name}">Site name</a>
            </li>
            <li th:each="pageNav : ${#lists.sort(page.site.pages)}">
                <a th:href="@{~/site/{user}/{site}/{page}(user=${pageNav.site.user.username},site=${pageNav.site.name},page=${pageNav.id})}"
                   th:text="${pageNav.name}">Page</a>
            </li>
        </ul>
    </div>
</div>
<div layout:fragment="body">
    <div id="main" class="container" style="margin-bottom: 10%"
         th:classappend="${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).HORIZONTAL} or ${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).BOTH} ? top-space : no-space">

    </div>
    <div sec:authorize="isAuthenticated()" class="container">
        <label for="site-rating" class="control-label" th:text="#{view.rate}">Rate this site</label>
        <input id="site-rating" name="rating" th:value="${rate}" class="rating-loading"/>
    </div>
    <div class="container">
        <div id="comments-container">

        </div>
    </div>
</div>
<th:block layout:fragment="bare-scripts">
    <script type="text/javascript" src="js/kartik/star-rating.min.js" th:src="@{/js/kartik/star-rating.min.js}"></script>
    <script type="text/javascript" src="js/kartik/locales/ru.js" th:src="@{/js/kartik/locales/{loc}.js(loc=${#locale})}"></script>
    <script type="text/javascript" src="js/jquery-comments.min.js" th:src="@{/js/jquery-comments.min.js}"></script>
    <script type="text/javascript" src="js/Chart.min.js" th:src="@{/js/Chart.min.js}"></script>
    <script type="text/javascript" src="js/custom/renderer.js" th:src="@{/js/custom/renderer.js}"></script>
    <script th:inline="javascript">
        //        <![CDATA[

        if ([[${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).HORIZONTAL}
            or ${page.site.menuOrientation == T(by.itransition.webconstructor.domain.MenuOrientation).NONE}]]) {
            $("#wrap").toggleClass("toggled");
        }

        $('#sidebar-wrapper').addClass('theme-' + [[${#strings.toLowerCase(#strings.toString(page.site.theme))}]]);

        $(document).ready(function () {

            var pageLayout = [[${page.layoutId}]];
            myRenderer.renderLayout($('#main'), pageLayout);

            $.get('/site/elements', {page: [[${page.id}]]}, function (response, status) {
                response.forEach(function (element) {
                    myRenderer.load(element);
                });
            });

            $('#site-rating')
                    .rating({
                        language: [[${#locale.language}]],
                        step: 0.5,
                        starCaptions: {
                            0.5: [[#{view.rate.veryPoor}]],
                            1: [[#{view.rate.veryPoor}]],
                            1.5: [[#{view.rate.poor}]],
                            2: [[#{view.rate.poor}]],
                            2.5: [[#{view.rate.ok}]],
                            3: [[#{view.rate.ok}]],
                            3.5: [[#{view.rate.good}]],
                            4: [[#{view.rate.good}]],
                            4.5: [[#{view.rate.veryGood}]],
                            5: [[#{view.rate.veryGood}]]
                        },
                        starCaptionClasses: {
                            0.5: 'text-danger',
                            1: 'text-danger',
                            1.5: 'text-warning',
                            2: 'text-warning',
                            2.5: 'text-info',
                            3: 'text-info',
                            3.5: 'text-primary',
                            4: 'text-primary',
                            4.5: 'text-success',
                            5: 'text-success'
                        }
                    })
                    .on('rating.change', function(event, value, caption) {
                        rate(value);
                    })
                    .on('rating.clear', function(event) {
                        rate(0); //TODO delete rate from db
                    });

            $('#comments-container').comments({
                readOnly: [[${user == null}]],
                profilePictureURL: 'http://res.cloudinary.com/itraphotocloud/image/upload/w_400,h_400,c_crop,g_face,r_max/w_200/' +
                    [[${user != null ? user.avatar : ''}]] + '.png',
                currentUserIsAdmin: [[${user != null ? user.role == T(by.itransition.webconstructor.domain.Role).ROLE_ADMIN : false}]],
                fieldMappings: {
                    profileURL: 'profileURL',
                    profilePictureURL: 'profilePictureURL',
                    createdByAdmin: 'createdByAdmin',
                    createdByCurrentUser: 'createdByCurrentUser',
                    upvoteCount: 'upvoteCount',
                    userHasUpvoted: 'userHasUpvoted'
                },
                textareaPlaceholderText: [[#{comments.placeholder}]],
                newestText: [[#{comments.newest}]],
                oldestText: [[#{comments.oldest}]],
                popularText: [[#{comments.popular}]],
                sendText: [[#{comments.send}]],
                replyText: [[#{comments.reply}]],
                editText: [[#{comments.edit}]],
                editedText: [[#{comments.edited}]],
                youText: [[#{comments.you}]],
                saveText: [[#{general.save}]],
                deleteText: [[#{general.delete}]],
                viewAllRepliesText: [[#{comments.viewAllReplies}]],
                hideRepliesText: [[#{comments.hideReplies}]],
                noCommentsText: [[#{comments.noComments}]],
                /*textFormatter: function(text) {
                    return i18n.translate(text);
                },
                timeFormatter: function(time) {
                    return moment(time).fromNow();
                },*/
                refresh: function() {

                },
                getComments: function(success, error) {
                    $.get('/comments/list.json', {page: [[${page.id}]]}, function (response, status) {
                        success(response);
                    }).fail(error);
                },
                postComment: function (commentJSON, success, error) {
                    sendComment(commentJSON, success, error, 'add');
                },
                putComment: function (commentJSON, success, error) {
                    sendComment(commentJSON, success, error, 'edit');
                },
                deleteComment: function (commentJSON, success, error) {
                    deleteComment(commentJSON, success, error)
                },
                upvoteComment: function (commentJSON, success, error) {
                    if (commentJSON.userHasUpvoted) {
                        likeComment(commentJSON, success, error);
                    } else {
                        dislikeComment(commentJSON, success, error);
                    }
                }
            });

        });

        function deleteComment(comment, success, error) {
            sendComment(comment, success, error, 'remove');
        }

        function sendComment(comment, success, error, action) {
            comment['page'] = [[${page.id}]];
            $.postJSON('/comments/' + action, comment, function (response, status) {
                success(comment);
            }, [[${_csrf.token}]]);
        }

        function likeComment(comment, success, error) {
            sendComment(comment, success, error, 'like/add');
        }

        function dislikeComment(comment, success, error) {
            sendComment(comment, success, error, 'like/remove');
        }

        function rate(value) {
            $.post('/site/rate', {
                site: [[${page.site.id}]],
                rate: value,
                [[${_csrf.parameterName}]]: [[${_csrf.token}]]
            }, function (response, status) {

            });
        }

        //        ]]>
    </script>
</th:block>
</body>
</html>