<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/admin/bootstrap.min.css" th:href="@{/css/admin/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/jquery.dynatable.css" th:href="@{/css/jquery.dynatable.css}"/>

    <link rel="stylesheet" href="css/admin/sb-admin-2.css" th:href="@{/css/admin/sb-admin-2.css}"/>
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <style>
        th a {
            color: #337ab7 !important;
        }
        .dynatable-per-page-select {
            width: 80px;
        }
        #page-wrapper {
            padding-top: 20px;
        }
    </style>
    <th:block layout:fragment="styles">

    </th:block>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Administrator</title>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/admin}">WC Admin</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a th:href="@{/admin/user}"><i class="fa fa-user fa-fw"></i> <th:block th:text="#{navbar.profile}">Profile</th:block></a>
                </li>
                <li>
                    <a th:href="@{~/}"><i class="fa fa-gear fa-fw"></i> <th:block th:text="#{admin.site}">Open site</th:block></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="$('#logout').submit()" th:text="#{navbar.logout}">Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <form th:action="@{/logout}" id="logout" method="post"></form>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a th:href="@{/admin/sites}"><i class="fa fa-table fa-fw"></i> <th:block th:text="#{navbar.sites}"></th:block></a>
                </li>
                <li>
                    <a th:href="@{/admin/users}"><i class="fa fa-users fa-fw"></i> <th:block th:text="#{admin.users}"></th:block></a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
    <th:block layout:fragment="body">

    </th:block>
</div>


<div th:replace="layout/template :: footer">

</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/jquery.dynatable.js" th:src="@{/js/jquery.dynatable.js}"></script>
<script type="text/javascript" src="js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>