<html layout:decorator="layout/barelayout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block layout:fragment="bare-styles">
        <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}"/>
        <th:block layout:fragment="styles">

        </th:block>
    </th:block>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Web constructor</title>
</head>
<body>
<div layout:fragment="navigation">
    <div th:replace="layout/template :: navbar">

    </div>
</div>
<div layout:fragment="body">

    <div layout:fragment="nowrap-content">

    </div>
    <div class="container">
        <div layout:fragment="content" style="margin-bottom: 10%">

        </div>
    </div>
</div>


    <div th:replace="layout/template :: footer">

    </div>
<th:block layout:fragment="bare-scripts">
    <th:block layout:fragment="scripts">

    </th:block>
</th:block>


</body>
</html>