<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${user.username}"></title>
    <th:block layout:fragment="bare-styles">
        <link rel="stylesheet" href="css/star-rating.min.css" th:href="@{/css/star-rating.min.css}"/>
        <link rel="stylesheet" href="css/jquery.dynatable.css" th:href="@{/css/jquery.dynatable.css}"/>
        <link rel="stylesheet" href="css/custom/profile.css" th:href="@{/css/custom/profile.css}"/>
        <link rel="stylesheet" href="css/custom/thumbnails.css" th:href="@{/css/custom/thumbnails.css}"/>
        <th:block th:replace="auth/validation :: styles"/>
        <style>
            #settings {
                width: 300px;;
            }
            #tab3 {
                padding-left: 37%;
            }

            .post .post-img-content {
                height: 140px;
            }
            .post .content {
                padding: 0 10px 10px;
                height: 200px;
            }
            .col-md-3 {
                margin-bottom: 35px;
            }
        </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="row" style="margin-top: 30px">
        <div class="col-sm-12">
            <div class="card hovercard">
                <div class="card-background">
                    <img alt="" th:src="@{http://res.cloudinary.com/itraphotocloud/image/upload/w_400,h_400/{avatar}.png(avatar=${user.avatar})}"
                         class="card-bkimg" />
                    <!-- http://lorempixel.com/850/280/people/9/ -->
                </div>
                <div class="useravatar">
                    <img alt="" th:src="@{http://res.cloudinary.com/itraphotocloud/image/upload/w_400,h_400,c_crop,g_face,r_max/w_200/{avatar}.png(avatar=${user.avatar})}"/>
                </div>
                <div class="card-info">
                    <span class="card-title" th:text="${user.firstname} + ' ' + ${user.lastname}">John Smit</span>
                    <h4 th:if="${user.role == T(by.itransition.webconstructor.domain.Role).ROLE_ADMIN}" style="display: inline"><span class="label label-info">ADMIN</span></h4>
                </div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="info" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="hidden-xs" th:text="#{profile.info}">Info</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="rewards" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <div class="hidden-xs" th:text="#{profile.rewards}">Rewards</div>
                    </button>
                </div>
                <div th:if="${owner}" class="btn-group" role="group">
                    <button type="button" id="settings-tab" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <div class="hidden-xs" th:text="#{sites.settings}">Settings</div>
                    </button>
                </div>
                <div th:unless="${owner}" class="btn-group" role="group">
                    <button type="button" id="sites" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        <div class="hidden-xs" th:text="#{navbar.sites}">Sites</div>
                    </button>
                </div>
            </div>
            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <h3 th:text="#{profile.userInfo}">User information</h3>
                        <table class="table table-hover">
                            <tr>
                                <td th:text="#{login.username}">Login</td>
                                <td th:text="${user.username}">Login</td>
                            </tr>
                            <tr>
                                <td th:text="#{profile.name}">Name</td>
                                <td th:text="${user.firstname} + ' ' + ${user.lastname}">Name</td>
                            </tr>
                            <tr>
                                <td th:text="#{registration.email}">Email</td>
                                <td th:text="${user.email}">Email</td>
                            </tr>
                            <tr>
                                <td th:text="#{profile.registered}">Registered</td>
                                <td th:text="${#dates.format(user.registrationDate, 'dd MMM yyyy')}">N/D</td>
                            </tr>
                            <tr>
                                <td th:text="#{profile.quantity}">Sites quantity</td>
                                <td th:text="${#lists.size(user.sites)}">0</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <h3 th:text="#{profile.rewards}">Rewards</h3>
                    </div>
                    <div th:if="${owner}" class="tab-pane fade in" id="tab3">
                        <h3 th:text="#{sites.settings}">Settings</h3>
                        <form th:action="@{/user/}" th:object="${profile}" method="post" id="settings">
                            <div class="form-group">
                                <label th:for="${#ids.next('firstname')}" th:text="#{registration.firstname}">First name</label>
                                <input type="text" class="form-control" th:field="*{firstname}" th:placeholder="#{registration.firstname}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="${#ids.next('lastname')}" th:text="#{registration.lastname}">Last name</label>
                                <input type="text" class="form-control" th:field="*{lastname}" th:placeholder="#{registration.lastname}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="${#ids.next('oldPassword')}" th:text="#{profile.oldPass}">Old password</label>
                                <input type="password" class="form-control" th:field="*{oldPassword}" th:placeholder="#{profile.oldPass}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="${#ids.next('password')}" th:text="#{login.password}">Password</label>
                                <input type="password" class="form-control" th:field="*{password}" th:placeholder="#{login.password}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="${#ids.next('matchingPassword')}" th:text="#{registration.passwordRepeat}">Password again</label>
                                <input type="password" class="form-control" th:field="*{matchingPassword}" th:placeholder="#{registration.passwordRepeat}"/>
                            </div>
                            <button type="submit" class="btn btn-primary" th:text="#{general.save}">Save</button>
                        </form>
                    </div>
                    <div th:unless="${owner}" class="tab-pane fade in" id="tab4">
                        <div style="display: inline-block">
                            <h3 th:text="#{navbar.sites}">Sites</h3>
                        </div>
                        <div class="panel panel-info" th:if="${#lists.isEmpty(user.sites)}">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                      <th:block th:text="#{sites.noSites}">No sites</th:block>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <th:block th:text="#{profile.noSitesMessage}">This user haven't create any sites yet.</th:block>
                            </div>
                        </div>
                        <div class="row" id="site-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="js/kartik/star-rating.min.js" th:src="@{/js/kartik/star-rating.min.js}"></script>
    <script type="text/javascript" src="js/jquery.dynatable.js" th:src="@{/js/jquery.dynatable.js}"></script>
    <script type="text/javascript" src="js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" src="js/custom/tables.js" th:src="@{/js/custom/tables.js}"></script>
    <!--<th:block th:replace="auth/validation :: scripts" />-->
    <script th:inline="javascript">
        //        <![CDATA[

        $(document).ready(function () {

            initTables($('#site-list'), [[${user.username}]], [[${#locale.language}]], true);

            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });

        });

        //        ]]>
    </script>
</th:block>
</body>
</html>