<!DOCTYPE html>
<html layout:decorator="layout/baselayout">
<head>
<title th:text="#{general.error}">Error!</title>
</head>
<body>
<div layout:fragment="content">
<h1 th:text="${status}"></h1>
<h3 th:text="${exception}"></h3>
<h3 th:text="${message}"></h3>

</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>404 error page</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>-->
    <!--<link rel="stylesheet" href="css/error-style.css" th:href="@{/css/error-style.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="wrap">-->
    <!--<div class="content">-->
        <!--<div class="logo">-->
            <!--<h1><a href="#"><img src="/images/logo.png"/></a></h1>-->
            <!--<span><img src="/images/signal.png"/><th:block th:text="#{general.error404}">Oops! The Page you requested was not found!</th:block></span>-->
        <!--</div>-->
        <!--<div class="buttom">-->
            <!--<div class="seach_bar">-->
                <!--<p><th:block th:text="#{error.textStart}">you can go to</th:block> <span><a th:href="@{~/}" th:text="#{error.main}">home</a></span> <th:block th:text="#{error.textEnd}">page or search here</th:block></p>-->
                <!--<div class="search_box">-->
                    <!--<form action="/search">-->
                        <!--<input type="text" name="request" th:placeholder="#{navbar.search}"/><input type="submit" value=""/>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<p class="copy_right">&#169; 2016 Copyright by<a th:href="@{~/}">&nbsp;Web Constructor</a> </p>-->
<!--</div>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<!--</body>-->
<!--</html>-->